<head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>
        <%= title %>
    </title>
</head>
<body>
<div style="background-color:#90EE90;height:15px;"></div>
<div id="topbar">VOTE OFTEN</div>
<div style="background-color:#90EE90;height:15px;"></div>
