<!DOCTYPE html>
<html>
    <% include header %>
    <h3><%= title %></h3>
    <form method="post">
        <fieldset>
            <label for="username">User: </label><input type="text" id="username" name="username" required /><br />
            <label for="password">Password: </label><input type="password" id="password" name="password" required /><br />
            <input type="submit" value="Login" />
        </fieldset>
    </form>
    <% if (locals.errmsg) { %>
    <p id="errmsg"><%= errmsg %></p>
    <% } %>
    <p><a href="/">Return to home page</p>
    </body>
</html>